@model PhenixProject.Models.EmployeeViewModel

@{
    ViewData["Title"] = "EmployeeDetails";
}
<div id="modalDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="container emp-profile">
<div class="row">
    <div class="col-md-4">
        <div class="profile-img">
            <img src="@Model.PersonalInfo.Photo" alt="Photo"/>
            @Html.ActionLink("Change photo", "UploadPhotoModal", new {id = Model.Id}, new {@class = "openModal file btn btn-lg btn-primary"})
        </div>
    </div>
    <div class="col-md-6">
        <div class="profile-head">
            <h5>
                @Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName
            </h5>
            <h6>
                Department: 
            </h6>
            <h6>
                Position: 
            </h6>
            @Html.ActionLink("Edit department info", "EditDepartmentModal", new {employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
            <hr/>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="payroll-tab" data-toggle="tab" href="#payroll" role="tab" aria-controls="payroll" aria-selected="false">Payroll</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="leaves-tab" data-toggle="tab" href="#leaves" role="tab" aria-controls="leave" aria-selected="false">Leaves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-4">
    <div class="profile-work">
        <p>LINKS</p>
        @foreach (var link in Model.Links)
        {
            <a href="@link.Url">@link.Name</a>
            @Html.ActionLink("Edit","EditLinkModal",new{linkId = link.Id,employeeId = Model.Id},new {@class = "openModal"})
        }
        <p>SKILLS</p>
        @foreach (var skill in Model.Skills)
        {
            <span>@skill.Name</span>
            @Html.ActionLink("Edit","EditSkillModal",new{skillId = skill.Id,employeeId = Model.Id},new {@class = "openModal"})
        }
        <hr/>
        @Html.ActionLink("Add link", "AddLinkModal", new {employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"}) |
        @Html.ActionLink("Add skill", "AddSkillModal", new {employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
    </div>
    
</div>
<div class="col-md-8">
<div class="tab-content profile-tab" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
        <div class="col-md-6">
            <label>User Id</label>
        </div>
        <div class="col-md-6">
            <p>@Model.Id</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>First Name</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.FirstName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Mid Name</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.MidName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Last Name</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.LastName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Birth Date</label>
        </div>
        <div class="col-md-6">
            <p>@Html.DisplayFor(m=>m.PersonalInfo.BirthDate)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Gender</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Gender</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Contacts.Email.Value</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Phone</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Contacts.Phone.Value</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Second phone</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Contacts.SecondPhone.Value</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Skype</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Contacts.Skype.Value</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Address</label>
        </div>
        <div class="col-md-6">
            <p>@Model.PersonalInfo.Contacts.Address.Value</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Edit personal info", "EditPersonalInfoModal", new {employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
        </div>
    </div>
</div>
<div class="tab-pane fade" id="payroll" role="tabpanel" aria-labelledby="payroll-tab">
    <div class="row">
        <div class="col-md-6">
            <label>Employment</label>
        </div>
        <div class="col-md-6">
            <p>@Model.Payroll.Employment</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Salary</label>
        </div>
        <div class="col-md-6">
            <p>@Model.Payroll.Salary</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Currency</label>
        </div>
        <div class="col-md-6">
            <p>@Model.Payroll.Currency</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Edit payroll info", "EditPayrollModal", new {payrollId = Model.Payroll.Id,employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
        </div>
    </div>
</div>
    <div class="tab-pane fade" id="leaves" role="tabpanel" aria-labelledby="leaves-tab">
        @foreach (var leave in Model.Leaves)
        {
            <div class="row">
                <div class="col-md-3">
                    <p>@leave.StartDate</p>
                </div>
                <div class="col-md-3">
                    <p>@leave.EndDate</p>
                </div>
                <div class="col-md-3">
                    <p>@leave.Description</p>
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Edit", "EditLeaveModal", new {leaveId = leave.Id, employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Add leave", "AddLeaveModal", new {employeeId = Model.Id}, new {@class = "openModal btn btn-outline-warning"})
            </div>
        </div>
    </div>
<div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <div class="row">
        <div class="col-md-6">
            <label>empty</label>
        </div>
        <div class="col-md-6">
            <p>empty</p>
        </div>
    </div>
</div>
                            

</div>
</div>
</div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".openModal").click(function(e) {

                e.preventDefault();
                $.get(this.href,
                    function(data) {
                        $('#dialogContent').html(data);
                        $('#modalDialog').modal('show');
                    });
            });
        });
    </script>
}