@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<PhenixProject.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}

@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <h1>Employees</h1>
    <div class="search-container">
        <input class="search" type="text">
        <div class="btn btn-primary"><i class="fas fa-search"></i></div>
    </div>
    <hr/>
    <div class="custom-flex-container">
        @foreach (var item in Model)
        {
            <div class="card custom-card">
                <img class="card-img-top custom-card-img" src="@item.PersonalInfo.Photo" alt="Photo">
                <div class="card-body">
                    <h5 class="card-title">@item.PersonalInfo.FirstName @item.PersonalInfo.LastName</h5>
                    <p class="card-text">Department: @item.Department</p>
                    <p class="card-text">Position: @item.Position</p>
                    @Html.ActionLink("About", "EmployeeDetails", new {id = item.Id}, new {@class = "btn btn-primary"})
                </div>
            </div>
        }
    </div>
    <div>
        <div class="pagination-custom">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            <div class="pagination-custom-action">
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
            </div>
        </div>
    </div>
}
    
