@model IEnumerable<PhenixProject.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}

<h1>Employees</h1>
@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalInfo.MidName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalInfo.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalInfo.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalInfo.MidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalInfo.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Name)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Details", "EmployeeDetails", new { id = item.Id })
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
