@model IEnumerable<PhenixProject.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var error = ViewBag.Error;
}

@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <div class="custom-flex-container">
        <h1>Employees</h1>
        <hr/>
        <div class="custom-flex-container">
            @foreach (var item in Model)
            {
                <div class="card custom-card">
                    <img class="card-img-top custom-card-img" src="@item.PersonalInfo.Photo" alt="Photo">
                    <div class="card-body">
                        <h5 class="card-title">@item.PersonalInfo.FirstName @item.PersonalInfo.LastName</h5>
                        <p class="card-text">Department: @item.Department</p>
                        <p class="card-text">Position: @item.Position</p>
                        @Html.ActionLink("About", "EmployeeDetails", new {id = item.Id}, new {@class = "btn btn-primary"})
                    </div>
                </div>
            }
        </div>
    </div>
}
    
