@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DocumentViewModel>

@{
    ViewData["Title"] = "Documents";
    var error = ViewBag.Error;
}
<div id="modalDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<h1>Documents</h1>
<div class="block-align-center">
@Html.ActionLink("Upload document", "UploadDocumentModal", new {}, new {@class = "openModal"})
</div>
@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    
    <div class="search-container">
        <input class="search" type="text">
        <div class="btn btn-primary"><i class="fas fa-search"></i></div>
    </div>
    <div class="custom-flex-container">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Description: @item.Description</p>
                    <p class="card-text">Tags: @string.Join(",", item.Tags)</p>
                    @Html.ActionLink("Download", "DownloadDocument", new { id = item.Id },new{@class="btn btn-primary"})
                    @if (User.Identity.IsAuthenticated
                         && item.UserId == ViewBag.CurrentUserId
                         || User.IsInRole("Administrator")
                         || User.IsInRole("SUAdministrator"))
                    {
                        @Html.ActionLink("Edit", "EditDocument", new { id = item.Id },new{@class="btn btn-warning"})
                    }
                </div>
            </div>
        }
    </div>
    <div>
        <div class="pagination-custom">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            <div class="pagination-custom-action">
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
            </div>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".openModal").click(function(e) {

                e.preventDefault();
                $.get(this.href,
                    function(data) {
                        $('#dialogContent').html(data);
                        $('#modalDialog').modal('show');
                    });
            });
        });
    </script>
}