@model X.PagedList.IPagedList<NewsPostViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("Administrator") || User.IsInRole("SUAdministrator"))
{
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Add new post", "AddNewsModal", "Home",new{} ,new {@class = "openModal btn btn-outline-warning"})
        </div>
    </div>
}

<div class="text-center black">
    <h1 class="display-4">Welcome</h1>
</div>
<div id="modalDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@if (Model != null)
{
    <div class="news-container">
        @foreach (var news in Model)
        {
            <div class="news-card">
                <div class="news-cardPostTime">Posted time: @news.PostedTime</div>
                <img class="news-cardImg" alt="img" src="@news.ImgPath"/>
                <div class="news-cardTitle">@news.Title</div>
                <div class="news-cardDescription">@news.Description</div>
                @if (User.IsInRole("Administrator") || User.IsInRole("SUAdministrator"))
                {
                    <div class="news-cardBtn">
                        @Html.ActionLink("Edit", "EditNewsModal", "Home", new {postId = @news.Id}, new {@class = "openModal btn btn-primary"})
                    </div>
                }
            </div>
        }
        <br />
    
    </div>
    <div>
        <div class="pagination-custom">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            <div class="pagination-custom-action">
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
            </div>
        </div>
    </div>
    }
@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".openModal").click(function(e) {

                e.preventDefault();
                $.get(this.href,
                    function(data) {
                        $('#dialogContent').html(data);
                        $('#modalDialog').modal('show');
                    });
            });
        });
    </script>
}