@model IEnumerable<CandidateViewModel>

@{
    ViewData["Title"] = "Candidates";
    var error = ViewBag.Error;
}

<h1>Candidates</h1>
@Html.ActionLink("Add new candidate", "RegisterCandidate")
@if (error != null)
{
    <p>
        Error: @error.Message
    </p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.PersonalInfo.FirstName @item.PersonalInfo.LastName</h5>
                        <p class="card-text">Career objective: @item.CareerObjective</p>
                        <p class="card-text">Employment: @item.Employment</p>
                        <p class="card-text">Desired salary: @item.DesiredSalary</p>
                        <p class="card-text">City: @item.City</p>
                        @Html.ActionLink("About", "CandidateDetails", new { id = item.Id },new{@class="btn btn-primary"})
                    </div>
                </div>
            }
        </div>
    </div>
}
