@model PhenixProject.Data.AppUser

@{
    ViewData["Title"] = "My profile";
}

<h1>My profile</h1>

<div>
    <img class="card-img-top" src="~/Photo/@Model.Id" alt="Photo">
    <form asp-action="UploadPhoto" asp-controller="Account" asp-route-userId="@Model.Id" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/><br>
        <input type="submit" value="Upload photo"/>
    </form>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administrator") || User.IsInRole("SUAdministrator"))
        {
            @Html.ActionLink("Change password", "ChangePassword", "Account", new {id = Model.Id})
        }
    }
</div>
